<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Channels WebRTC</title>
</head>
<body>
<h3 id="label-username" style="display: flex; justify-content: center ">USERNAME</h3>
<div style="display:flex; justify-content: center; flex-direction: column">
    <input type="text" id="username">
    <button id="btn-join">Join Room</button>
</div>
<div class="main-grid-container">
    <div class="video-container">
        <div>
            <video src="" id="local-video" autoplay playsinline style="background-color: black"></video>
        </div>
    </div>
    <button id="btn-toggle-audio">Audio Mute</button>
    <button id="btn-toggle-video">Video Off</button>
    <div id="chat" style="background-color: lightblue">
        <h3>Chat</h3>
        <div id="messages" style="height: 100px; overflow-y: auto; margin: 0px">
            <ul id="message-list" style="margin: 0px; list-style: none">
            </ul>
        </div>
        <div style="margin: 0px">
            <input type="text" id="msg">
            <button id="btn-send-msg">Send Message</button>
            <p id="input-req"></p>
        </div>
        <button id="btn-share-screen">Share Screen</button>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/main.js'%}"></script>
</body>
</html>